body {
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 18px;
    text-align: justify;
}

section {
    display: flex;
    flex-direction: column;
    margin: auto;
}

h1,
h2,
h3 {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-color: rgb(244, 245, 247);
    padding: 0 3em 3em;
}

header {
    padding: 2em;
    background-color: #3763AD;
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0, 3em;
}

footer {
    background-color: #3763AD;
    padding: 2em;
}

h1 {
    font-size: 2em;
}

#presentation h1 {
    margin-bottom: 0;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.3em;
}

#welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url(images/decor.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 110%, 100%;
    padding: 7em 0 3em;
    color: white
}

#presentation {
    width: 90%;
    padding-top: 100px;
}

.text {
    text-align: center;
    width: 60%;
}

.image {
    width: 15%;
    height: 10%;
}

header a {
    color: white;
    font-weight: bold;
}

header a:hover,
header a:focus,
.active {
    color: #F7BD45;
}

nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

button {
    font-weight: bold;
    font-size: 1.1em;
}

#subscribe {
    display: none;
    width: 30%;
    text-align: center;
}

.sub {
    padding: 0.5em;
    margin: 1em;
}

.doc {
    font-weight: bold;
    color: blue
}

.pres,
#reverse {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

#presentation img {
    width: 30%;
    border-radius: 10px;
}

.left {
    margin-right: 2em;
}

.right {
    margin-left: 2em;
}

@media screen and (max-width:767px) {
    nav {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    header {
        padding: 1em;
    }
    body {
        font-size: 15px;
    }
    main {
        padding: 0.5em;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.1em;
    }
    #welcome {
        color: black;
        width: 100%;
        background-image: none;
        padding: 2em 0 0;
    }
    .pres {
        flex-direction: column;
    }
    #reverse {
        flex-direction: column-reverse;
    }
    #presentation {
        padding: 0 0.5em;
    }
    #presentation img {
        width: 80%;
        border-radius: 10px;
    }
    .image {
        display: none
    }
    .text {
        width: 80%;
    }
}